In [1]:
import pandas as pd

In [4]:
data = pd.read_table('SalaryData.txt', sep='\s+')

In [5]:
data

,case,id,gender,deg,yrdeg,field,startyr,year,rank,admin,salary
0,1,1,F,Other,92,Other,95,95,Assist,0,6684.0
1,2,2,M,Other,91,Other,94,94,Assist,0,4743.0
2,3,2,M,Other,91,Other,94,95,Assist,0,4881.0
3,4,4,M,PhD,96,Other,95,95,Assist,0,4231.0
4,5,6,M,PhD,66,Other,91,91,Full,1,11182.0
...,...,...,...,...,...,...,...,...,...,...,...
19787,19788,1770,M,Other,51,Other,64,91,Full,0,5318.0
19788,19789,1770,M,Other,51,Other,64,92,Full,0,5472.0
19789,19790,1770,M,Other,51,Other,64,93,Full,0,5551.0
19790,19791,1770,M,Other,51,Other,64,94,Full,0,5551.0
19791,19792,1770,M,Other,51,Other,64,95,Full,0,5712.0